<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Vue Cdn -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- my style -->
    <link rel="stylesheet" href="css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div id="app">
        <h1>Lista delle email</h1>
        <!-- v-if per show del content se sono a 10 email -->
        <ul v-if="emails.length == maxDataThreshold">
          <!-- print delle email -->
          <li v-for="email in emails">{{email}}</li>
        </ul>
        <div v-else class="loader"></div>
      </div>
    </div>
    <!-- my script  -->
    <script src="js/main.js"></script>
  </body>
</html>
